body {
  background-color: #e5e5e5;
  margin-top: 0;
  padding-left: 33px;
}
.container {
  display: flex;
  width: 72%;
}
.todoBox,
.doingBox,
.doneBox {
  width: 32%;
  margin-right: 1.5%;
}
.listTitleBox {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  height: 40px;
  padding: 5px;
}
.countBox {
  background: #bdbdbd;
  border-radius: 20px;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  display: flex;
}
.countNum {
  width: fit-content;
  margin: auto;
  height: fit-content;
}
.addBtn {
  float: right;
  color: #bdbdbd;
  margin-left: auto;
  font-size: 27px;
  cursor: pointer;
}
.addBtn:hover {
  float: right;
  color: #0075de;
  margin-left: auto;
  font-size: 27px;
}
.closeBtn:hover {
  color: #ff4343;
  margin-left: 10px;
  cursor: pointer;
}
.closeBtn {
  color: #bdbdbd;
  margin-left: 10px;
  cursor: pointer;
}
.hidden {
  display: none;
}
ul {
  padding: 0;
}
