/* ####### Button Section #######*/
.button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.button button {
  border-radius: 0.375rem;
  width: 48%;
  height: 2.5rem;
  border: none;
  cursor: pointer;
}

.cancel-button {
  background-color: #e0e0e0;
  color: #828282;
}

.submit-button {
  background-color: #0075de;
  color: white;
}
.submit-button:disabled {
  background-color: #86c6ff;
  color: white;
  cursor: not-allowed;
}

.add-status-btn {
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem;
  width: 3rem;
  height: 3rem;
  background-color: #0075de;
  border-radius: 50%;
  cursor: pointer;
}
.add-status-btn:hover {
  scale: 1.05;
  box-shadow: 1px 1px 10px #828282;
}
.add-status-btn button {
  background: white;
  padding: 1px;
  height: 1.25rem;
  position: relative;
  left: calc(1.5rem - 1px);
  top: 0.4rem;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}
.add-status-btn button::after {
  background: white;
  content: "";
  padding: 1px;
  width: 1.25rem;
  left: -0.625rem;
  top: calc(50% - 1px);
  position: absolute;
  cursor: pointer;
  transition: 0.1s;
}

/* ####### Modal Section #######*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.313rem);
}

.modal-window {
  width: 15%;
  padding: 1.5rem;
  border-radius: 0.375rem;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-window p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.modal-window input {
  width: 80%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  margin-bottom: 2rem;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.header h2 {
  font-size: 2.5rem;
}

.trigger {
  display: block;
  flex-direction: column;
  width: 1.5rem;
  height: 0.875rem;
  top: calc(0.875rem - 1px);
  right: 0;
  position: absolute;
  cursor: pointer;
}
.trigger button {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  top: -0.5rem;
  left: -1.25rem;
  border-radius: 2rem;
  border: none;
  background-color: #86c6ff;
  color: #ffffff;
  cursor: pointer;
}
.trigger button:hover {
  scale: 1.05;
  box-shadow: 1px 1px 10px #828282;
}

.trigger span {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  transition: 0.5s;
}

.trigger span:nth-child(1) {
  top: 0;
}

.trigger span:nth-child(2) {
  top: 50%;
  width: 80%;
}

.trigger span:nth-child(3) {
  top: 100%;
}

.trigger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.trigger.active span:nth-child(2) {
  display: none;
}

.trigger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.todo-main {
  display: flex;
  flex-direction: row;
}

.todo-article {
  display: flex;
  flex-direction: column;
  min-width: 18.75rem;
  margin-right: 2rem;
}

.todo-article:last-child {
  margin: 0;
}

.todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.todo-header .todo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo-header .todo-title h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.todo-header .todo-title div {
  padding: 0.313rem;
  background: #bdbdbd;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-header .todo-svg {
  display: flex;
}
.todo-header .todo-svg span {
  cursor: pointer;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.todo-header .todo-svg span:hover svg {
  scale: 1.2;
}
.todo-header .todo-svg span:hover svg path {
  fill: #0075de;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.todo-task {
  display: flex;
  background-color: #ffffff;
  border-radius: 0.375rem;
  flex-direction: column;
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
  width: 16.75rem;
  position: relative;
}
.todo-task.active-bg {
  border: 1px solid #0075de;
}
.todo-task .edit-button {
  display: none;
  position: absolute;
  right: 1rem;
  top: 3rem;
}
.todo-task .delete-todo svg {
  cursor: pointer;
}
.todo-task .delete-todo svg:hover path {
  fill: red;
}
.todo-task:hover .edit-button {
  display: flex;
  cursor: pointer;
}
.todo-task:hover .edit-button:hover path {
  fill: #0075de;
}
.todo-task form {
  display: flex;
  flex-direction: column;
}
.todo-task form .task-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: bold;
}
.todo-task form textarea {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2rem;
  border: none;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  outline: none;
  resize: none;
}
.todo-task form textarea:nth-child(1) {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.todo-task form textarea:disabled {
  background-color: #ffffff;
}
.todo-task form .active {
  display: none !important;
}
.todo-task form textarea.active {
  display: block;
}
.todo-task form textarea.active:nth-child(2) {
  margin-bottom: 1rem;
}
.todo-task .task-author {
  position: absolute;
  bottom: 1rem;
  color: #bdbdbd;
  font-size: 0.75rem;
}
.todo-task svg {
  margin-bottom: 0.5rem;
}
.todo-task svg path {
  fill: #828282;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  height: calc(100vh - 3.75rem);
  padding: 1.875rem 5rem 1.875rem 5rem;
  background-color: #f5f5f7;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

textarea {
  font-family: "Noto Sans KR", sans-serif;
}
