$main-bg-color: #f5f5f7;
$cancel-btn-color: #e0e0e0;
$ok-btn-color: #0075de;
$ok-btn-disabled-color: #86c6ff;
$cancel-btn-text-color: #828282;
$ok-btn-text-color: white;
$svg-hover-color: #0075de;

$white: #ffffff;
$white-red: #ffeeec;
$red: #ff4343;
$black: #010101;

$gray300: #828282;
$gray400: #bdbdbd;
