/* ####### Button Section #######*/
.button {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    border-radius: 0.375rem;
    width: 48%;
    height: 2.5rem;
    border: none;
    cursor: pointer;
  }
}

.cancel-button {
  background-color: $cancel-btn-color;
  color: $cancel-btn-text-color;
}

.submit-button {
  background-color: $ok-btn-color;
  color: $ok-btn-text-color;

  &:disabled {
    background-color: $ok-btn-disabled-color;
    color: $ok-btn-text-color;
    cursor: not-allowed;
  }
}
.add-status-btn {
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem;
  width: 3rem;
  height: 3rem;
  background-color: $ok-btn-color;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    scale: 1.05;
    box-shadow: 1px 1px 10px $cancel-btn-text-color;
  }

  button {
    background: $ok-btn-text-color;
    padding: 1px;
    height: 1.25rem;
    position: relative;
    left: calc(1.5rem - 1px);
    top: 0.4rem;
    border: none;
    cursor: pointer;
    transition: 0.1s;

    &::after {
      background: $ok-btn-text-color;
      content: '';
      padding: 1px;
      width: 1.25rem;
      left: calc(-1.25rem / 2);
      top: calc(50% - 1px);
      position: absolute;
      cursor: pointer;
      transition: 0.1s;
    }
  }
}

/* ####### Modal Section #######*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.313rem);
}

.modal-window {
  width: 15%;
  padding: 1.5rem;
  border-radius: 0.375rem;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  input {
    width: 80%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    margin-bottom: 2rem;
  }
}
