@import './color.css';
@import './common.css';
@import './header.css';
@import './todo.css';
@import './task.css';

body {
  height: calc(100vh - 60px);
  padding: 30px 80px 30px 80px;
  background-color: var(--main-bg-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
