#hamburger-btn {
  float: right;
  cursor: pointer;
}

.menu-wrapper {
  background: #ffffff;
  width: 28%;
  position: fixed;
  top: 0;
  right: -28%;
  height: 100%;
  transition: all 0.5s ease-out;
  overflow-y: scroll;
  z-index: 3;
}

.menu-wrapper::-webkit-scrollbar {
  visibility: hidden;
}

.menu-box {
  display: flex;
  flex-direction: column;
}

.menu-log-wrapper {
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;
}

.log-content-text {
  margin-top: 7px;
  margin-bottom: 7px;
}

.log-profile-name {
  font-size: 14px;
}

.menu-log-box {
  display: flex;
  margin-bottom: 40px;
}

.log-content-text {
  font-size: 14px;
}

.log-content-time {
  color: #828282;
  font-size: 12px;
}

.log-profile {
  margin-right: 10px;
}

#menu-close-btn {
  margin-top: 50px;
  margin-right: 20%;
  margin-left: auto;
  font-size: 15px;
  color: #010101;
  cursor: pointer;
}

.sidebar-show {
  right: 0;
}
