@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $line-height;
}

.active {
  display: none !important;
}

.todo-task {
  display: flex;
  background-color: $white;
  border-radius: 0.375rem;
  flex-direction: column;
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
  width: 16.75rem;
  position: relative;

  &.active-bg {
    border: 1px solid $svg-hover-color;
  }

  .edit-button {
    display: none;
    position: absolute;
    right: 1rem;
    top: 3rem;
  }

  .delete-todo {
    svg {
      cursor: pointer;

      &:hover {
        path {
          fill: red;
        }
      }
    }
  }

  &:hover {
    .edit-button {
      display: flex;
      cursor: pointer;

      &:hover {
        path {
          fill: $svg-hover-color;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .task-title {
      display: flex;
      justify-content: space-between;
      font-size: 1.125rem;
      font-weight: bold;
    }

    textarea {
      @include ellipsis(2, 1.2rem);
      border: none;
      margin-bottom: 2rem;
      font-size: 0.875rem;
      outline: none;
      resize: none;

      &:nth-child(1) {
        font-weight: bold;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }

      &:disabled {
        background-color: $white;
      }
    }

    textarea.active {
      display: block;

      &:nth-child(2) {
        margin-bottom: 1rem;
      }
    }
  }

  .task-author {
    position: absolute;
    bottom: 1rem;
    color: $gray400;
    font-size: 0.75rem;
  }
  svg {
    margin-bottom: 0.5rem;

    path {
      fill: $gray300;
    }
  }
}
