.todo-task {
  display: flex;
  background-color: white;
  border-radius: 0.375rem;
  flex-direction: column;
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
}

.todo-task > form {
  display: flex;
  flex-direction: column;
}

.todo-task > form > input {
  border: none;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  outline: none;
}

.todo-task > form > input:nth-child(1) {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
